<header>
  <mat-toolbar class="koko">
    <mat-toolbar-row>
      <a routerLink="/"><img src="assets/img/logo1.png" width="150px"></a>
      <mat-toolbar-row class="leftnav">
    <a routerLink="/">Home</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/about">About</a>
    <a routerLink="/experience">Experience</a>
    <a routerLink="/skills">Skills</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/contact">Contact</a>
      </mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
