<div class="container">
  <div class="content">
    <div class="skill1">
      <h3 class="title" style="width: 200px">HARD SKILLS</h3>
      <div class="names">
    <p>Photoshop</p>
    <p>Photoshop</p>
    <p>Photoshop</p>
      </div>
      <img src="assets/img/lang.png" class="skills1">
    </div>
    <h3 class="title" style="margin-left: 500px">HARD SKILLS</h3>
    <div class="skill2">
      <img src="assets/img/skills2.png">
    </div>

    <div class="skill3">
      <h3 class="title" style="width: 200px">HARD SKILLS</h3>
      <div class="names">
        <p>Photoshop</p>
        <p>Photoshop</p>
        <p>Photoshop</p>
        <p>Photoshop</p>
        <p>Photoshop</p>
      </div>
      <img src="assets/img/skills.png">
    </div>

    <div class="skill4">
      <h3 class="title" style="width: 200px">HARD SKILLS</h3>
      <div class="names">
        <p>Photoshop</p>
        <p>Photoshop</p>
        <p>Photoshop</p>
        <p>Photoshop</p>
        <p>Photoshop</p>
      </div>
      <img src="assets/img/skills.png">
    </div>
  </div>
</div>
