<div class="container">
  <div class="content">
    <h3 class="title">MY SERVICES</h3><br>
    <div class="serv">
      <div class="serv1">
      <img src="assets/img/ram_Монтажная%20область%201.png" class="inner_img1">
        <img src="assets/img/serv1-01.png" width="80px" class="out_img1">
        <p class="serv_title">Omarova Korlan</p>
        <p>It is a long established fact that a reader will be distrac ted by the readable content of a page when looking at its layout. The point of  The point of using Lorem Ipsum is that it has a more-or-less </p>
        <button mat-button>Contact me</button>
      </div>
      <div class="serv1">
        <img src="assets/img/ram_Монтажная%20область%201.png" class="inner_img1">
        <img src="assets/img/serv2-01.png" width="80px" class="out_img1">
        <p class="serv_title">Omarova Korlan</p>
        <p>It is a long established fact that a reader will be distrac ted by the readable content of a page when looking at its layout. The point of  The point of using Lorem Ipsum is that it has a more-or-less </p>
        <button mat-button>Contact me</button>
      </div>
      <div class="serv1">
        <img src="assets/img/ram_Монтажная%20область%201.png" class="inner_img1">
        <img src="assets/img/serv3-01.png" width="80px" class="out_img1">
        <p class="serv_title">Omarova Korlan</p>
        <p>It is a long established fact that a reader will be distrac ted by the readable content of a page when looking at its layout. The point of  The point of using Lorem Ipsum is that it has a more-or-less </p>
        <button mat-button>Contact me</button>
      </div>
    </div>
  </div>
</div>
