<div class="container">
  <div class="content">
   <h3 class="title">Omarova Korlan</h3>
    <p class="name">Future full-stack developer</p>
    <p class="blabla">It is a long established fact that a reader will be distrac ted by the readable content of a page when looking at its layout. The point of  The point of using Lorem Ipsum is that it has a more-or-less  It is a long established fact that a reader will be distrac ted by the readable content of a page when looking at its layout. The point of  The point of using Lorem Ipsum is that it has a more-or-less </p>
    <br>
    <button mat-button>View CV</button>
    <div class="icons">
    <img src="assets/img/phone-01.png">
    <img src="assets/img/mail-01.png">
    <img src="assets/img/vk-01.png">
    <img src="assets/img/insta.png">
    </div>
  </div>
  </div>
